
@{
    ViewBag.Title = "Index";
}

<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim">
                    <img src="~/images/kaktus.PNG" width="200" height="250"/></div>
                <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim"><img src="~/images/cicek.png"  width="200" height="250"/></div>
                <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
            <div class="4u$ 12u$(medium)" style="float:left;">
                <div class="ustResim">
                    <img src="~/images/sukulent.png"  width="200" height="250"/></div>
                  <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
        </div>
    </div>
    <div class="container 75%">
        <div class="row 200%">
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim"><img src="~/images/fidee.png"  width="200" height="250"/></div>                
                <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
            <div class="4u 12u$(medium)" style="float:left;">
               <div class="ustResim"> <img src="~/images/frenkuzumu.png"  width="200" height="250"/></div>
                <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
            <div class="4u$ 12u$(medium)" style="float:left;">
                <div class="ustResim"> <img src="~/images/bitki.jpg" width="200" height="250"/></div>
                <p class="altYazi">Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
        </div>
    </div>
</section>


<section id="three" class="wrapper style1">
    <div class="container">

        <div class="feature-grid">
            <div class="feature">
                <div class="image rounded"><img src="~/images/fidee.png" alt=""/></div>
                <div class="content">
                    <header>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/kaktus.png" alt=""/></div>
                <div class="content">
                    <header>
                        <h4>Recusandae nemo</h4>
                        <p>Ratione maiores a, commodi</p>
                    </header>
                    <p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/sukulent.png" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Laudantium fugit</h4>
                        <p>Possimus ex reprehenderit eaque</p>
                    </header>
                    <p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/cicek.png" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Porro aliquam</h4>
                        <p>Quaerat, excepturi eveniet laboriosam</p>
                    </header>
                    <p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
                </div>
            </div>
        </div>
    </div>
</section>


