
@{
    ViewBag.Title = "Yonetim";
}
<br />
<center>
    <div id="ucluDis">
        <div class="uclu" style="background-color:#f32853;;">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#" style="color:white;
            text-decoration:none;
            line-height:40px !important;">KULLANICILAR</a>
                    </b>
                </h4>
                <a href="~/Admin/KullaniciEkle">Kullanıcı Ekle</a><br /><a href="KullaniciDuzenle/1">Kullanıcı Düzenle(1)</a>
            </div>
        </div>
        <div class="uclu" style="background-color:#52a752;">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#">FAMİLYALAR</a>
                    </b>
                </h4>
                <a href="~/Admin/FamilyaEkle">Familya Ekle</a><br /><a href="FamilyaDuzenle/1">Familya Düzenle (1)</a><br /><a href="FamilyaSil/1">Familya Sil</a>
            </div>
        </div>
        <div class="uclu">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#" style="color:white;
            text-decoration:none;
            line-height:40px !important;">TÜR DETAY</a>
                    </b>
                </h4>
                <a href="~/Admin/TurDetayEkle">Tür Detay Ekle</a><br /><a href="TurDetayDuzenle/2">Tür Detay Düzenle (2)</a><br /><a href="TurDetaySil/2">Tür Detay Sil</a>

            </div>
        </div>
    </div>
</center>
<div style="clear:both;"></div>
<br />

