
@{
    ViewBag.Title = "Yonetim";
}
<br />
<center>
    <div id="ucluDis">
        <div style="
             width:30% !important;
             background-color:#f32853; color:white !important;
             box-shadow 0 4px 8px 0 rgba(0,0,0,0.2) !important;
             transition 0.3s !important; float:left;height:200px;">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#" style="color:white;
            text-decoration:none;
            line-height:40px !important;">KULLANICILAR</a>
                    </b>
                </h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
        <div style="
             width:30% !important;
             background-color:#52a752; color:white !important;
             box-shadow 0 4px 8px 0 rgba(0,0,0,0.2) !important;
             transition 0.3s !important; float:left;margin-left:20px;height:200px;">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#" style="color:white;
            text-decoration:none;
            line-height:40px !important;">FAMİLYALAR</a>
                    </b>
                </h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
        @*<div style="
             width:30% !important;
             background-color:#3bb2a7; color:white !important;
             box-shadow 0 4px 8px 0 rgba(0,0,0,0.2) !important;
             transition 0.3s !important; float:left;margin-left:20px;height:200px;">
            <div style="padding: 2px 16px !important;">
                <h4>
                    <b>
                        <a href="#" style="color:white;
            text-decoration:none;
            line-height:40px !important;">TÜR DETAY</a>
                    </b>
                </h4>
                <p>Architect & Engineer</p>
            </div>
        </div>*@
    </div>
</center>
<div style="clear:both;"></div>
<br />

