<div class="container contact-form">

    <form method="post">
        <br />
        <div class="row" style="padding:10px;border:1px solid #bbb;border-radius:5px;margin-top:-15px;">
            <div class="col-md-6" style="width:50%;">
                <div><h4>&nbsp;İLETİŞİM FORMU</h4></div>
                <div class="form-group">
                    <br />  <input type="text"  name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div><br />
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                </div><br />
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                </div><br />
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" style="background-color:#c1a526;color:white;border-radius:5px;border:none;padding:5px;" />
                </div><br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br /><br />  <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 250%; height: 154px;margin-top:10px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <br /><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3391.76233358!2d35.234718042423836!3d31.776967567842213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150329c9c96f3a51%3A0x9d880658c9248aad!2sMescid-i%20Aksa!5e0!3m2!1str!2str!4v1576881672433!5m2!1str!2str" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
