
@{
    ViewBag.Title = "Index";
}

<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim">
                    <img src="~/images/kaktus.PNG" width="200" height="250"/></div>
                <p class="altYazi">Kaktüsgiller (Cactaceae), gövdeleri etli ve yaprakları diken şeklini almış bir çiçekli bitkiler familyası.

Kaktüs, cins adı olmamasına rağmen, kaktüsgiller familyasını oluşturan gövdeleri etli, yassılaşmış ve sulu olan, yaprakları diken şeklini almış bütün çiçekli bitkilere verilen ortak addır.

Genellikle çöllerde ve tropiklerde yaygınlardır.</p>
            </div>
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim"><img src="~/images/cicek.png"  width="200" height="250"/></div>
                <p class="altYazi">Çiçek bitkilerde üremeyi sağlayan organları taşıyan yapı. Bir çiçek, 4 kısımdan oluşur.

Üreme organlarını dıştan sararak onları dış etkilerden korur. Doğrudan üremeye katılmadığı için 'verimsiz kısım' olarak da adlandırılır.

Dikotil bitkilerde çiçek örtüsü 2 kısımdan oluşur: Çanak yapraklar (sepal) ve taç yapraklar (petal).</p>
            </div>
            <div class="4u$ 12u$(medium)" style="float:left;">
                <div class="ustResim">
                    <img src="~/images/sukulent.png"  width="200" height="250"/></div>
                  <p class="altYazi">Sukulent kaktüs familyasından bir bitkidir. Kelime anlamı olarak "özü ve suyu olan" demektir. Sukulent bitkisinin pek çok çeşidi bulunmaktadır.Sıcak ülkelerde yetişen sukulentler uzun ömürlü bakımıyla dikkat çekiyor. </p>
            </div>
        </div>
    </div>
    <div class="container 75%">
        <div class="row 200%">
            <div class="4u 12u$(medium)" style="float:left;">
                <div class="ustResim"><img src="~/images/fidee.png"  width="200" height="250"/></div>                
                <p class="altYazi">Fide; domates, biber gibi sebzelerin yetiştiği bitkilerin ismidir. Bu bitkiler fidanlardan farklı olarak hiçbir zaman ağaç olmayacaktır. Yeni yetişen ağaç veya ağaççık.</p>
            </div>
            <div class="4u 12u$(medium)" style="float:left;">
               <div class="ustResim"> <img src="~/images/frenkuzumu.png"  width="200" height="250"/></div>
                <p class="altYazi">Ağaçların ilk haline "fidan" adı verilir. Başka bir yere dikilmek için bulunduğu yerden çıkarılan taze ağaç.</p>
            </div>
            <div class="4u$ 12u$(medium)" style="float:left;">
                <div class="ustResim"> <img src="~/images/bitki.jpg" width="200" height="250"/></div>
                <p class="altYazi">Bitkiler (Latince: Plantae), fotosentez yaparak kendi besinini üretebilen, ökaryotik, ağaçlar, çiçekler, otlar, yosunlar ve benzeri organizmaları içinde bulunduran çok büyük bir canlılar alemidir. Fotosentezi sadece bitkilerle beraber bazı tek hücreli canlılar yapar.</p>
            </div>
        </div>
    </div>
</section>


